@import "../base/variables";

#tomato {
  display: flex;
  align-items: center;
  margin-top: 18px;

  .tomato_text {
    text-align: center;
    h2 {
      font-weight: map-get($font-navbar-weights, bold);
      font-size: 38px;
      color: rgb(230, 228, 228);
    }

    .tomato_text_item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px;
      h5 {
        font-size: 16px;
        font-weight: map-get($font-navbar-weights, medium);
        a {
          color: white;
          margin-right: 10px;
        }
      }
    }
  }
}

.sidebar_item {
  margin-bottom: 35px;
  h4 {
    color: #1c1c1c;
    font-weight: map-get($font-navbar-weights, medium);
    margin-bottom: 25px;
    font-size: 24px;
  }
  ul {
    padding: 0;
    li {
      margin-bottom: 8px;
      line-height: 24px;
      letter-spacing: 0.3px;
    }
  }
}

.price_sidebar {
  width: 200px;
  border-radius: 10px;
  // padding: 20px 25px 40px;

  .price_range {
    width: 100%;
    margin: 30px 0 35px;

    .field {
      height: 45px;
      width: 100%;
      display: flex;
      align-items: center;
      span {
        padding: 4px;
      }

      input {
        width: 100%;
        height: 100%;
        margin-left: 12px;
        outline: none;
        font-size: 18px;
        text-align: center;
        border-radius: 6px;
        border: 1px solid #999;
        // -moz-appearance: textfield;
      }
    }
  }
  // .seperator {
  //   background-color: red;
  //   width: 20px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
  .slider {
    height: 5px;
    background-color: #999;
    border-radius: 4px;
    position: relative;
    .progress {
      height: 6px;
      background-color: rgb(232, 232, 123);
      border-radius: 4px;
      position: absolute;
      left: 25%;
      right: 25%;
    }
    .ragne-input {
      position: relative;
      input {
        position: absolute;
        top: -5px;
        height: 5px;
        width: 100%;
        // -webkit-appearance: none;
        background: none;
        pointer-events: none;
      }
    }
  }
}

.hero_shop_categories {
  border: 1px solid #ebebeb;
  max-width: 90%;
  position: absolute;
  z-index: 999;
  background: white;

  .hero_all_shop_categories {
    padding: 14px 25px 10px 40px;
    color: white;
    font-weight: map-get($font-navbar-weights, bold);
    cursor: pointer;
    background-color: $primary-color;
  }
  .shop_departments_category {
    padding: 12px 28px 20px 40px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    display: none;

    li {
      margin-top: 10px;
      a {
        color: black;
      }
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 100%;
  -webkit-appearance: none;
  background-color: rgb(206, 196, 196);
  pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 100%;
  -moz-appearance: none;
  background-color: rgb(176, 152, 152);
  pointer-events: auto;
}
.sidebar_item_color {
  margin-right: 26px;
}
.latest_text_shop {
  margin-top: 14px;
  .latest_text_icons_shop {
    display: flex;
    gap: 20px;

    .latest_text_icon_shop button {
      width: 30px;
      height: 30px;
      color: #868383;
    }
  }
  .latest_shop_product {
    display: flex;
    margin-top: 18px;
    gap: 10px;

    .product_shop_text h6 a {
      color: black;
    }
    h5 {
      font-weight: map-get($font-navbar-weights, medium);
      line-height: 24px;
    }
  }
}
.product_discount {
  margin-bottom: 65px;

  .product_discount_title h2 {
    font-weight: map-get($font-navbar-weights, bold);
    color: #323131;
    position: relative;
    // margin-left: 36px;
    &::after {
      position: absolute;
      left: 0;
      bottom: -15px;
      height: 4px;
      width: 80px;
      background-color: $primary-color;
      content: "";
      margin: 0 auto;
    }
  }
}

.shop_carusel {
  margin-top: 30px;
  height: 270px;
  position: relative;
  cursor: pointer;
  margin-bottom: 150px;

  :hover {
    .product_item_hover_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-65px);
      margin-left: -18px;

      li {
        background-color: $footer-color;
        border: 1px solid #cbc9c9;
      }
    }
  }

  .image_shop_discount {
    max-width: 90%;

    .product_discount_precent {
      border-radius: 50%;
      background-color: red;
      font-size: 14px;
      color: #ffffff;
      line-height: 45px;
      position: absolute;
      left: 15px;
      top: 15px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
    }
    img {
      width: 100%;
    }
  }
  .product_item_hover_icon {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(45px);
    transition: all 0.3s;
    display: none;

    ul {
      display: flex;
      justify-content: center;

      li {
        margin-right: 12px;
        background-color: $footer-color;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        &:hover {
          background-color: $primary-color;
        }

        &:hover a {
          color: white;
          transform: rotate(360deg);
          transition: transform 0.5s;
        }
        a {
          color: black;
        }
      }
    }
  }
}
.product_item_text {
  text-align: center;
  margin-top: 10px;
  span {
    color: #868383;
    font-size: 14px;
  }

  h5 a {
    color: black;
  }

  .product_item_price {
    font-size: 18px;
    span {
      color: black;
      font-size: 20px;
      font-weight: map-get($font-navbar-weights, bold);
    }
    del {
      color: #868383;
      margin-left: 10px;
      font-size: 12x;
    }
  }
}

.slick-prev {
  display: none !important;
}
.slick-next {
  display: none !important;
}

// section two filter

.filter_item {
  margin-top: 40px;

  .filter_sort {
    span {
      color: #b2b2b2;
    }

    select {
      border: none;
      font-weight: map-get($font-navbar-weights, bold);
      margin-left: 10px;
    }
  }

  .filter_found {
    text-align: center;
    h6 {
      color: #b2b2b2;
    }
    span {
      font-weight: map-get($font-navbar-weights, bold);
      color: black;
      margin-right: 10px;
    }
  }

  .filter_option {
    text-align: end;
    color: #b2b2b2;

    .icon_ul {
      margin-left: 10px;
    }
  }
}

.shop_products {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  :hover {
    .shop_products_item_icon {
      display: flex;
    }
  }
}
.shop_products_item {
  height: 270px;
  position: relative;
  cursor: pointer;
  margin-bottom: 150px;

  &:hover {
    .featured_item_icon {
      display: flex;
    }
  }

  img {
    width: 100%;
  }

  .shop_products_item_icon {
    display: none;
    transition: all 0.3s;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;

    li {
      margin-right: 12px;
      background-color: $footer-color;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 4px;
      border: 1px solid #cbc9c9;
      &:hover {
        background-color: $primary-color;
      }

      &:hover a {
        color: white;
        transform: rotate(360deg);
        transition: transform 0.5s;
      }
      a {
        color: black;
      }
    }
  }
}

.product_pagination {
  padding-top: 10px;

  a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #b2b2b2;
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-right: 16px;
    transition: transform 0.5s;

    &:hover {
      background: $primary-color;
      border-color: $primary-color;
      color: white;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
