;$primary-color:#7FAD39;
$footer-color:#F3F6FA;
$text-color:#6F6F6F;
$font-family: Cairo, sans-serif;
$font-navbar-weights:(
    "medium":700,
    "bold":800
);


body{
    font-family: $font-family;
}


/// section two


.hero_categories{
    padding: 6px 8px 6px 8px;
    margin-left: 40px;

    .hero_all_categories{
        width: 250px;
        padding: 10px 25px 10px 40px;
        color: white;
        font-weight: map-get($font-navbar-weights, bold );
        cursor: pointer;
        background-color: $primary-color;
    }
    .departments_category{
        padding:12px 28px 20px 40px;
        display: flex;
        row-gap: 10px;
        flex-direction: column;

        a{
            color: black;
        }
    }
}


.hero_search{
    display: flex;
    padding: 5px 0;
    gap: 65px;

    .search_form{
        display: flex;
        height: 48px;
            border: 1px solid #EBEBEB;
        

        .search_category{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 182px;
            height: 48px;
            border-right: 0;
            font-weight: map-get($font-navbar-weights , bold );
&::after{
    content: "\2758";
    color: #EBEBEB;
}
    

           
        }

        .form_hero{
            // width: 100%;
            // height: 100%;
            display: flex;

            input{
                width: 300px;
                padding-left:10px;
                border: 0;
            }
            input,
            button{
                height: 100%;
                
            }

            .search_btn_category{
                width: 109px;
                height: 46px;
                background-color: $primary-color;
                color: white;
            }
        }
    }

    .search_phone{
        display: flex;
        gap: 14px;
        .phone_icon{
            background-color: $footer-color;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary-color;
        }

        .contact_text{
            display: flex;
            flex-direction: column;
            
            h5{
                font-weight: map-get($font-navbar-weights, medium );
                font-size: 18px;
            }
            span{
                text-decoration: none solid rgb(111, 111, 111);
                font-size: 14px;
                margin-left: 4px;
            }
        }
    }

} 


.hero_item{
    position: relative;
    display: flex;
    align-items: center;
    height: 431px;
    margin-top: 14px;
    .hero_text{
        position: absolute;
        right: 60%;
        display: flex;
        flex-direction: column;
        
        span{
            letter-spacing: 4px;
            font-size: 14px;
            text-transform: uppercase;
            color: $primary-color;
            font-weight: map-get($font-navbar-weights , bold );
        }
        h2{
            font-weight: map-get($font-navbar-weights, bold );
            line-height: 52px;
            color: #252525;
            font-size: 40px;
            margin: 10px 0;
        }
        p{
            font-size: 16px;
            color: #6F6F6F;
            margin: 0 0 15px 0;
        }
        .primary-btn{
            display: inline-block;
            font-size: 14px;
            padding: 10px 28px 10px 28px;
            color: white;
            text-transform:uppercase;
            font-weight: map-get($font-navbar-weights ,medium );
            background-color: $primary-color;
            letter-spacing: 2px;
            width: 150px;
        }
    }
}



