@import "../base/variables";
.container {
  margin-top: 20px;

  .header__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .logo {
      font-size: 16px;
    }

    .nav__list {
      display: flex;
      gap: 44px;
      margin: 0;
      letter-spacing: 2px;
      font-size: 14px;
      text-transform: uppercase;
      margin-right: 55px;
      .nav__list__item {
        font-weight: map-get($font-navbar-weights, medium);
        a {
          color: black;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    .wrapper {
      display: flex;
      padding: 6px;

      .shooping {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 12px;
        .heart,
        .basket {
          font-size: 18px;
        }
        .basket_wishlist_count {
          padding: 3px 5px;
          text-align: center;
          font-size: 10px;
          font-weight: map-get($font-navbar-weights, medium);
          color: #ffffff;
          border-radius: 100%;
          background-color: $primary-color;
        }
      }
    }
    .header_price {
      font-size: 14px;
      span {
        color: $text-color;
      }

      strong {
        font-weight: map-get($font-navbar-weights, bold);
      }
    }
  }
}

.toggle_button {
  position: absolute;
  right: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;

  a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
  }
}

body {
  overflow-x: hidden;
}

.basket_btn {
  background-color: #ffffff;
}

.my_drawer {
  width: 300px;
  background-color: $footer-color;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  z-index: 999;
  opacity: 0.97;
  transition: 0.5s linear;
  // display: none;

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    color: $primary-color;
    cursor: pointer;
  }
}
.my_drawer.show {
  transform: translateX(0px);
}

.basket_list {
  margin-top: 100px;
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  .basket_item {
    background-color: $primary-color;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    .count {
      background-color: rgb(175, 172, 172);
      color: rgb(29, 28, 28);
      padding: 12px;
      border-radius: 8px;
    }
  }
  .basket_actions {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
}

@media (max-width: 992px) {
  .logo {
    margin-right: 83%;
  }
  .toggle_button {
    display: flex;
    border: 1px solid black;
    padding: 14px;
    // right: 2.2rem;
    top: 8%;
  }

  .active {
    display: block !important;
  }

  .nav_area {
    display: none;
    width: 100%;

    .nav__list {
      width: 100%;
      flex-direction: column;

      .nav__list__item {
        text-align: center;

        a {
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  .header__area {
    flex-direction: column;
    align-items: flex-start;
  }
}
